%h1.mt-2 自己紹介編集

.card.mb-2
  %h5.card-header メイン編集
  .card-body
    = form_with(model: @user_self_introduction, class: "form-horizontail") do |f|
      #erros
      .form-group
        = f.label :self_image
        - if @user_self_introduction.self_image.attached?
          = image_tag @user_self_introduction.self_image, class: "d-block mb-3", width: 200
        = f.file_field :self_image, class: "form-control-file"
        - if @user_self_introduction.self_image.attached?
          .checkbox
            %label
              = f.check_box :remove_self_image
              画像を削除する
      .form-group
        = f.label :birth_place
        = f.text_field :birth_place, class: "form-control"
      .form-group
        = f.label :birth_month
        = f.select :birth_month, 1..12, {include_blank: true, prompt: true, selected: @user_self_introduction.birth_month}, {class: "form-control"}
      .form-group
        = f.label :birth_day
        = f.select :birth_day, 1..31, {include_blank: true, prompt: true, selected: @user_self_introduction.birth_day}, {class: "form-control"}
      .form-group
        = f.label :hobby
        = f.text_field :hobby, class: "form-control"
      .form-group
        = f.label :introduction
        = f.rich_text_area :introduction, value: @user_self_introduction.introduction
      = f.submit class: "btn btn-primary"

.card.mb-2
  %h5.card-header 所属編集
  .card-body
    = form_with(url: user_division_path, method: :put, class: "form-horizontail") do |f|
      .form-group
        = f.label :division
        - if @user_self_introduction.user_division
          = f.collection_select :division_id, Division.all, :id, :name, {prompt: true, selected: @user_self_introduction.user_division.division_id}, {class: "form-control"}
        - else
          = f.collection_select :division_id, Division.all, :id, :name, {prompt: true}, {class: "form-control"}
      = f.submit class: "btn btn-primary", 'data-disable-with' => false

.card.mb-2
  %h5.card-header スキル編集
  .card-body
    = form_tag(user_skill_path, method: :put, class: "form-horizontail") do
      .form-group
        - @skills_map.each do |skills|
          .card-title
            #{skills[0]}
          .card-text
            - skills[1].each do |skill|
              .form-check.form-inline
                - if @current_user_skill_ids.include?(skill.id)
                  = check_box_tag "user_skills[]", skill.id, true, {class: "form-check-input checkbox-inline"}
                - else
                  = check_box_tag "user_skills[]", skill.id, false, {class: "form-check-input checkbox-inline"}
                = label_tag "user_skills[]", skill.name, {class: "form-check-label"}
        .card-body
          = submit_tag "Save", {class: "btn btn-primary", data: {disable_with: false}}
