%h2.mb-3= @user_self_introduction.user.name

- if @user_self_introduction.created_by?(current_user)
  .mb-3
    = link_to "編集する", edit_user_self_introduction_path(@user_self_introduction), class: "btn btn-info btn-block"

.card.mb-3
  .row.no-gutter
    .col-md-7
      - if @user_self_introduction.self_image.attached?
        = image_tag @user_self_introduction.self_image, width: "100%"
      - else
        %p.card-text= "画像を設定してください"
    .col-md-5
      .card-body
        %h6 所属
        - if @user_self_introduction.user_division
          %p.ml-2.card-text= @user_self_introduction.user_division.division.name
        %h6 メールアドレス
        %p.ml-2.card-text= @user_self_introduction.user.mail
        %h6 出身地
        %p.ml-2.card-text
          - if @user_self_introduction.birth_place.empty?
            %i.fa.fa-map-marked-alt
          - else
            = @user_self_introduction.birth_place
        %h6 誕生日
        - if @user_self_introduction.birth_month.present?
          %p.ml-2.card-text
            = "#{@user_self_introduction.birth_month} 月 #{@user_self_introduction.birth_day} 日"
        - else
          %p.ml-2.card-text
            %i.fa.fa-birthday-cake
        %h6 趣味
        %p.ml-2.card-text= @user_self_introduction.hobby

.card.mb-3
  .card-header どんなひと？
  .card-body
    .card-text
      - unless @user_self_introduction.introduction.empty?
        = @user_self_introduction.introduction

.card.mb-3
  .card-header スキル
  .card-body
    .card-title ああああ

.card.mb-3
  .card-header プロジェクト経歴
  .card-body
    .card-title ああああ
