%h1.mt-2 自己紹介

.row
  .col-10
    .card.mb-2
      %h5.card-header 自己紹介画像
      - if @user_self_introduction.self_image.attached?
        = image_tag @user_self_introduction.self_image, class: "d-block mb-3"
      - else
        .card-body
          %p.card-text= "画像を設定してください"
    .card.mb-2
      %h5.card-header 所属
      .card-body
        %p.card-text= @user_self_introduction.user_division.division.name
    .card.mb-2
      %h5.card-header 出身地
      .card-body
        %p.card-text= @user_self_introduction.birth_place
    .card.mb-2
      %h5.card-header 趣味
      .card-body
        %p.card-text= @user_self_introduction.hobby
    .card.mb-2
      %h5.card-header 自己紹介
      .card-body
        %p.card-text= @user_self_introduction.introduction
  .col-2
    - if @user_self_introduction.created_by?(current_user)
      = link_to "編集する", edit_user_self_introduction_path(@user_self_introduction), class: "btn btn-info btn-block"
