%h1.mt-2 マスタデータ管理

%div.list-group
  = link_to "部管理", departments_path, class: "list-group-item list-group-item-action"
  = link_to "課管理", divisions_path, class: "list-group-item list-group-item-action"
  = link_to "プロジェクト管理", departments_path, class: "list-group-item list-group-item-action"
  = link_to "スキル分類管理", skill_categories_path, class: "list-group-item list-group-item-action"
  = link_to "スキル管理", skills_path, class: "list-group-item list-group-item-action"
