!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Heartsoft Self Introduction
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "favicon.png", rel: "shortcut icon"}/
    %link{href: "https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css", rel: "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      .container
        = link_to "Heartsoft Self Introduction", root_path, class: "navbar-brand"
        %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
          %ul.navbar-nav.justify-content-end
            - if @user_name
              %li.nav-item.dropdown
                %a.nav-link.avatar-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                  - if @user_avatar
                    %img{src: "<haml_loud"}/
                    @user_avatar  class="rounded-circle align-self-center mr-2 profile-photo"&gt;
                  - else
                    = image_tag "no-profile-photo.png", class: "rounded-circle align-self-center mr-2 profile-photo"
                .dropdown-menu.dropdown-menu-right
                  %h5.dropdown-item-text.mb-0= @user_name
                  %p.dropdown-item-text.text-muted.mb-0= @user_email
                  .dropdown-divider
                  = link_to "Sign Out", {:controller => :auth, :action => :signout}, :class => "dropdown-item"
            - else
              %li.nav-item
                = link_to "Sign In", "/auth/microsoft_graph_auth", method: :post, class: "nav-link"
    %main.container{role: "main"}
      - if @errors
        - @errors.each do |error|
          .alert.alert-danger{role: "alert"}
            %p.mb-3= error[:message]
            - if error[:debug]
              %pre.alert-pre.border.bg-light.p-2
                %code= error[:debug]
      = yield
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
